<html>

<div id="userMain" align="center">
    <app-search-user></app-search-user>
    <form [formGroup]="createUserForm">
        <input type="text" placeholder="first name" formControlName="fname">
        <input type="text" placeholder="last name" formControlName="lname">
        <input type="text" placeholder="username" formControlName="username">
        <button (click)="addUser();">create user</button>
    </form>
    <!-- <app-user-update-stats></app-user-update-stats> -->
</div>

</html>