<div class="formdesign">
  <form [formGroup]="matchForm">
    <input type="text" placeholder="Type Player's 1 name..." formControlName="player1name">
    <input type="text" placeholder="Type Player's 2 name..." formControlName="player2name">
    <input type="number" placeholder="gameRules" formControlName="gameRules">
  </form>
</div>
<div class="buttondesign">
<button class="btn btn-primary but" (click)="clicked()">Add</button>
<button class="btn btn-primary but" (click)="clicked2()"> click me 2</button>
</div>
<div class="tabledesign">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Player 1</th>
        <th scope="col"></th>
        <th scope="col">Player 2</th>
        <th scope="col">Rule Set</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{p1Name}}</td>
        <td>vs</td>
        <td>{{queue.player2name}}</td>
        <td>{{queue.gameRules}}</td>
        <td><button (click)="delete(queue)">Delete</button></td>
        <td><button (click)="updateQueue(queue)">Update fixture</button></td>
      </tr>
      <tr>
        <td>{{p1Name}}</td>
        <td>vs</td>
        <td>{{p2Name}}</td>
        <td>{{ruleSet}}</td>
      </tr>
      <tr>
        <td>{{p1Name}}</td>
        <td>vs</td>
        <td>{{p2Name}}</td>
        <td>{{ruleSet}}</td>
        <td>
            <button class="btn btn-outline-info but" (click)="updateQueue(queue)"> Update</button>
          <button class="btn btn-outline-danger but" (click)="delete(queue)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>