h2 {
  color: green;
}

.formdesign {
  position: relative;
  display: flex;
  justify-content: center;
  top: 40px;
}

.table {
  background-color: rgba(241, 239, 247, 0.979);
}

.tabledesign {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  position: relative;
  max-width: 97%;
  text-align: center;
  top: 70px;
}

.buttondesign {
  position: relative;
  display: flex;
  justify-content: center;
  top: 45px;
}

.but {
  margin: 1px;
}


