@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

table {
    position: relative;
    border: solid black;
    
    $enable-rounded: true;



    &:hover {
        color: blue;
    }
}
