<p>rules-table works!</p>
<div>
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th id = rule-header>rule set</th>
                <th id = rule-description>description</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>QA</td>
                <td>some rules</td>
            </tr>
            <tr>
                <td>wpa</td>
                <td><a href="https://wpapool.com/rules-of-play/">rules of play</a></td>
            </tr>
        </tbody>
    </table>

    <input type="button" onclick="clicked()" value="click me">

   
    <form [formGroup]="ruleForm">
        <input type="text" placeholder="rule name" formControlName="ruleName">
    </form>
    {{ruleName}}


</div>