/* You can add global styles to this file, and also import other style files */
.scores{
    // display:;
    // justify-content: space-around;
    // max-width:100%;
    // width: 100%;
}

.userprofile{
    float: right;
    width: 30%;
    padding: 1%;
}

.score{
    width: 70%;
    float: left;
    padding: 1%;
}

body{
    // background-color: grey;
}